<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Admin login</title>
</head>
<body>
<!--<img src="../static/img.png" alt="">-->
<section class="body-flex">
    <div class="admin-form">
        {%include 'msg.html'%}
        <form action="/admin_login" method="post">
            <label>Admin login</label>
            <input type="text" name="email" required placeholder="Enter email">
            <input type="password" name="password" required placeholder="Enter password"><br>
            <button type="submit">Login</button>
            <br><br>
        </form>
    </div>
</section>
</body>
</html>