<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Admin login</title>
</head>
<body>
<!--<img src="../static/img.png" alt="">-->

<div class="container" >
        {%include 'msg.html'%}
        <form action="/admin_login" method="post" class="col-md-4 bg-white rounded" >
            <fieldset class="form-group  p-3">
                <h3 class="text-center">Admin login</h3>
                <label>Enter email</label><br>
                <input type="text" name="email" class="form-control" required placeholder="Enter email">
                <label>Enter password</label><br>
                <input type="password" name="password" class="form-control" required placeholder="Enter password"><br>
                <button type="submit" class="btn btn-outline-dark">LOGIN</button><br><br>
            </fieldset>
        </form>
    </div>
</body>
</html>