<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html'%}
    <title>Attendant sign up</title>
</head>
<body>
{% include 'admins/admin_nav.html'%}

<section>
    <div class="center_display">
        <div class="admin_form">
            {%include 'msg.html'%}
            <form action="/attendants_signup" method="post">
                <h3>. Attendant signup .</h3>
                <input type="text" placeholder="Enter attendant id" name="attendant_id" required>
                <input type="text" placeholder="Enter name" name="name" required>
                <input type="email" placeholder="Enter email address" name="email" required>
                <input type="number" placeholder="Enter Phone number" name="phone" nrequired>
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
</section>

</body>
</html>