<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Attendants</title>
</head>
<body>
{%include 'admins/admin_nav.html'%}
<h3 class="container">Attendant records</h3>
<div class="container">
    {% include 'msg.html'%}
    <table class="table ">
        <tr>
            <th>Attendant id</th>
            <th>Name</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {%for row in rows%}
        <form action="/attendants_records" method="post">
        <tr>
                <td><input type="hidden" name="attendant_id" value="{{row [0]}}" >{{row [0]}}</td>
                <td><input type="text" value="{{row [1]}}" name="name" class="form-control"></td>
                <td><input type="number" value="{{row [2]}}" name="phone" class="form-control"></td>
                <td><input type="email" value="{{row [3]}}" name="email" class="form-control"></td>
                <td>
                    <select name="status" id="" class="form-control">
                        {%if row[4] == 'Active'%}
                        <option value="{{row [4]}}">{{row [4]}}</option>
                        <option value="Deactivated">Deactivate</option>
                        {%else%}
                        <option value="{{row [4]}}">{{row [4]}}</option>
                        <option value="Active">Activate</option>
                        {%endif%}
                    </select>
                </td>
                <td class="row">
                    <div class="col-md-6"><button type="submit" class="btn btn-danger" >Update</button></div>
                </td>
        </tr>
        </form>
        {%endfor%}
    </table>
</div>
</body>
</html>