<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Sale view</title>
</head>
<body>
<section>
    {%include 'admins/admin_nav.html'%}
    <br>
    <div class="center-display">
        <div class="admin-form">
            <h3> .Sale view .</h3>
            {% include 'msg.html'%}
            <table class="text-white">
                <tr>
                    <td>ART NUMBER</td>
                    <td>NAME OF SHOE</td>
                    <td>PRICE</td>
                    <td>QUANTITY</td>
                    <td>TOTAL</td>
                </tr>
                {%for row in rows%}
                <tr>
                    <td>{{row [2]}}</td>
                    <td>{{row [3]}}</td>
                    <td>{{row [4]}}</td>
                    <td>{{row [5]}}</td>
                    <td>{{row [6]}}</td>
                </tr>
                {%endfor%}
                <tr class="bg-dark text-white">
                    <td><h5> Total: KSH {{total}}</h5></td>
                </tr>
            </table>
        </div>
    </div>
</section>
</body>
</html>