<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Sales records</title>
</head>
<body>
{%include 'admins/admin_nav.html'%}
<h3 class="container">Sales records</h3>
<div class="container">
    {% include 'msg.html'%}
    <form action="/search/sales" method="post">
        <label>Enter attendant name or sale ID</label>
        <input type="text" name="search" required class="form-control"> <br>
        <button class="btn btn-dark">Search</button>
        <a href="/sales_records" class="btn btn-dark">Reset</a>
    </form>
    <table class="table ">
        <tr class="bg-dark text-white">
            <th>SALE ID</th>
            <th>SOLD BY</th>
            <th>DATE</th>
            <th>TIME</th>
            <th>ACTION</th>
        </tr>
        {% for row in rows%}
        <tr>
            <td>{{row [1]}}</td>
            <td>{{row [7]}}</td>
            <td>{{row [9]}}</td>
            <td>{{row [10]}}</td>
            <td>
                <a href="/admin_view/{{row [1]}}"><button class="btn btn-info">View order</button></a>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
</body>
</html>