<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_section.html'%}
    <title>Shoe upload</title>
</head>
<body>
{%include 'admins/admin_nav.html'%}
<section>
    <div class="center-display">
        <div class="admin-form">
            {%include 'msg.html'%}
            <!--        File selecting-->
            <form action="/shoe_upload" enctype="multipart/form-data" method="post">
                <h3>. Shoe uploads .</h3>
                <br>
                <h4> Select picture of shoe</h4>
                <input type="file" name="file" required>
                <input type="text" name="name" placeholder="Input name of shoe" required>
                <input type="number" name="price" placeholder="Input price" required>
                <input type="text" name="shoe_type" placeholder="Input shoe type" required>
                <input type="text" name="stock" placeholder="Input amount of stock" required>
                <br>
                <button type="submit">SUBMIT</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>