<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Attendant dashboard</title>
</head>
<body>
<div>
    <header>
        {%include 'attendants/attendant_nav.html'%}
    </header>
    <h3>Welcome to the Attendant dashboard</h3>
    <div>{%include 'msg.html'%}</div>
    <div>
        <div class="center-display">
            <div class="search-art-number-special">
                <form action="/attendant_dashboard" method="post">
                    <p class="form-title">Input art number below</p>
                    <input type="text" name="art_number" placeholder="Art number">
                    <button>Search</button>
                    <a href="/attendant_dashboard">
                        <button type="button">Reset</button>
                    </a>
                </form>
            </div>
            <!--        Show this if attendant searches for a product-->
            {%if 'cart' not in session%}
            <div class="search-art-number-special">
                <form action="/cart/add" method="post">
                    {%for row in rows%}
                    <div class="center-display">
                        <div>
                            <img src="static/images/{{row [7]}}" alt="" style="width: 300px; height: 300px"
                                 class="rounded">
                        </div>
                        <div class="search-art-number-special-no-backdrop">
                            <input type="hidden" value="{{row [1]}}" name="art_number">
                            <input type="hidden" value="{{row [4]}}" name="price">
                            <input type="hidden" value="{{row [3]}}" name="name">
                            <h3>Name: {{row [3]}}</h3>
                            <h3>Price: KSH {{row [4]}}</h3>
                            <h3>Input quantity purchased below</h3>
                            <input type="number" name="quantity" value="1">
                            <button class="btn-success">Add to cart</button>
                            <a href="/attendant_dashboard">
                                <button class="btn-danger" type="button">Cancel</button>
                            </a>
                        </div>
                    </div>
                    {%endfor%}
                </form>
            </div>
            {%else%}
            <div class="search-art-number-special">
                <!--        Show this if nothing has been searched-->
                <div class="alert-info" role="alert">{{msg}}</div>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>ART NUMBER</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>TOTAL</th>
                            <th>ACTION</th>
                        </tr>
                        {% for row in rows%}
                        <tr class="text-white">
                            <td>{{row [1]}}</td>
                            <td>{{row [3]}}</td>
                            <td>{{row [4]}}</td>
                            <td>{{row [5]}}</td>
                            <td>
                                <form action="/cart/remove" method="post">
                                    <input type="hidden" name="cart_id" value="{{row[0]}}">
                                    <button class="btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td><h3>TOTAL: KSH{{total}}</h3></td>
                        </tr>
                        <tr>
                            <td>
                                <a href="/checkout" class="center-display">
                                    <button class="btn-success">Checkout</button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>
</body>
</html>