<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">

        <a class="navbar-brand" href='#'>
            <i class="fas fa-code"></i>Vintage Palace
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href='/attendant_dashboard'>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/sales'>My sales records</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/logout_attendants'>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
