<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Attendant dashboard</title>
</head>
<body>
<div>
    <header>
        {%include 'attendants/attendant_nav.html'%}
    </header>
    <h3>Welcome to the Attendant dashboard</h3>
    <div>{%include 'msg.html'%}</div>
    <div>
        <div class="center_display">
            <div class="search_art_number">
                <form action="/attendant_dashboard" method="post">
                    <p class="form_title">Input art number below</p>
                    <input type="text" name="art_number" required placeholder="Art number">
                    <button>Search</button>
                    <a href="/attendant_dashboard">
                        <button>Reset</button>
                    </a>
                </form>
            </div>
        </div>
        <div class="center_display">
            <div class="search_art_number">
                <!--        Show this if attendant searches for a product-->
                {%if 'cart' not in session%}
                <form action="/cart/add" method="post" class="search_art_number">
                    {%for row in rows%}
                    <div>
                        <img src="static/images/{{row [7]}}" alt="" style="width: 300px; height: 300px"
                             class="rounded">
                    </div>
                    <div>
                        <input type="hidden" value="{{row [1]}}" name="art_number">
                        <input type="hidden" value="{{row [4]}}" name="price">
                        <input type="hidden" value="{{row [3]}}" name="name">
                        <h4>Name: {{row [3]}}</h4>
                        <h4>Price: KSH {{row [4]}}</h4>
                        <label>Input quantity purchased below</label><br>
                        <input type="number" name="quantity" value="1" class="form-control"><br>
                        <button>Add to cart</button>
                        <a href="/attendant_dashboard" class="btn btn-dark">Cancel</a>
                    </div>
                    {%endfor%}
                </form>
                {%else%}
            </div>
        </div>
        <div>
            <br>
        </div>
        <div class="center_display">
            <div class="search_art_number">

                <!--        Show this if nothing has been searched-->
                <div class="alert-info" role="alert">{{msg}}</div>
                <div class="table-container">
                    <table>
                        <tr>
                            <th>ART NUMBER</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>TOTAL</th>
                            <th>ACTION</th>
                        </tr>
                        {% for row in rows%}
                        <tr class="text-white">
                            <td>{{row [1]}}</td>
                            <td>{{row [3]}}</td>
                            <td>{{row [4]}}</td>
                            <td>{{row [5]}}</td>
                            <td>
                                <form action="/cart/remove" method="post">
                                    <input type="hidden" name="cart_id" value="{{row[0]}}">
                                    <button>Remove</button>
                                </form>
                            </td>
                        </tr>
                        {%endfor%}
                        <tr>
                            <td><h3>TOTAL: KSH{{total}}</h3></td>
                        </tr>
                        <tr>
                            <td><a href="/checkout" class="btn btn-dark">Checkout</a></td>
                        </tr>
                    </table>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</div>
</body>
</html>