<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Sign in</title>
</head>
<body>

<section>
    <div class="main">
        {%include 'msg.html'%}
        <div class="signin">
            <form action="/" method="post">
                <label>Sign In</label>
                <input type="text" name="attendant_id" placeholder="Attendant code" required>
                <button>Sign in</button>
            </form>
        </div>
    </div>
</section>

</body>
</html>