<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Sign in</title>
</head>
<body>
<h3 class="container">Sign in</h3>
{%include 'msg.html'%}
<section>
    <div class=" container">
        <form action="">
            <label>Input your attendant code below</label><br>
            <input type="text" name="attendant_id" placeholder="Attendant code" required class="form-control"><br>
            <button type="submit" class="btn btn-dark">Sign in</button>
        </form>
    </div>
    <div class="col-md-4">

    </div>
</section>

</body>
</html>