<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Orders</title>
</head>
<body>
{%include 'attendants/attendant_nav.html'%}
<h3 class="container">Sales records</h3>
<section>
    <div class="center_display">
        <div class="search_art_number">
            <div class="table-container">
                {% include 'msg.html'%}
                <table>
                    <tr>
                        <th>SALE ID</th>
                        <th>DATE</th>
                        <th>TIME</th>
                        <th>ACTION</th>
                    </tr>
                    {% for row in rows%}
                    <tr class="text-white">
                        <td>{{row [1]}}</td>
                        <td>{{row [9]}}</td>
                        <td>{{row [10]}}</td>
                        <td>
                            <a href="/view/{{row [1]}}">
                                <button class="btn btn-info">View order</button>
                            </a>
                            <a href="/receipt/{{row [1]}}">
                                <button class="btn btn-primary">Print receipt</button>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}
                </table>

            </div>
        </div>
    </div>
</section>

</body>
</html>