<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'head_section.html'%}
    <title>Sale_view</title>
</head>
<body>
{%include 'attendants/attendant_nav.html'%}
<h3>Sale view</h3>
<div class="center-display">
    <div class="search-art-number">
        <div class="table-container">
            {% include 'msg.html'%}
            <table>
                <tr>
                    <th>ART NUMBER</th>
                    <th>NAME OF SHOE</th>
                    <th>PRICE</th>
                    <th>QUANTITY</th>
                    <th>TOTAL</th>
                </tr>
                {%for row in rows%}
                <tr class="text-white">
                    <td>{{row [2]}}</td>
                    <td>{{row [3]}}</td>
                    <td>{{row [4]}}</td>
                    <td>{{row [5]}}</td>
                    <td>{{row [6]}}</td>
                </tr>
                {%endfor%}
                <tr class="bg-dark text-white">
                    <td><h5> Total: KSH {{total}}</h5></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>